<ul class="nav">    
    <li><a href="@Url.Content("~/")" id="new">Search</a></li> 
    <li><a href="@Url.Content("~/New/Mariner")" id="new">New</a></li>     
    <li><a href="@Url.Content("~/Report")" id="reports">Reports</a></li>     
    <li><a href="@Url.Content("~/Maint")" id="maintenance">Maintenance</a></li>     
</ul>                                   
